body { 
    margin: 0; 
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
    color: black;
	z-index: 1; /* TODO Solve this in HTML */
}

#info > p {
    margin-top: 0em;
    margin-bottom: 0.2em;
}

#info > p > span {
	color: rgb(55, 137, 170);
}